/*
  DM Sans via @font-face
  ---------------------------------
  ВАЖНО: добавь файлы шрифтов в src/fonts/
  Рекомендуемые имена:
    - dm-sans-regular.woff2
    - dm-sans-medium.woff2
    - dm-sans-bold.woff2
*/

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dm-sans-v17-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dm-sans-v17-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/dm-sans-v17-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
